/* pre, code {
    overflow: auto;
} */

#editorContainer {
  display: flex;
  justify-content: center;
  justify-self: center;
  height: 65vh;
  width: 100%;
}

#blocklyDiv {
  flex-basis: 100%;
  height: 100%;
  min-width: 70%;
}

#outputPane {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  flex: 0 0 400px;
  margin-left: 1rem;
}

#generatedCode {
  height: 100%;
  margin: 0;
  background-color: rgb(219, 212, 200);
}
